DATABASE_URL="postgresql://neondb_owner:npg_AjLbFK5Bdeo3@ep-snowy-sea-adel8zci-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="CB/EVtv6S1om5IP7rwNY1t0BTqztQV2nuWIa3MiL6BU="
GOOGLE_CLIENT_ID="1045450525380-hbq46mj9alk2big8jil4i122ggv5akv7.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
STRIPE_PUBLIC_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
RESEND_API_KEY="re_FDD87yXv_2dqQGcHmdMHguU89pKqgsdPQ"
APP_BASE_URL="http://localhost:3000"
APP_ENV="development"
